<div class="jumbotron">
    <h1>
        <img src="https://loffers.sklative.com/assets/x-small.png" />
    </h1>
    <h2 class="text-center">is here to quickly roam around you for offers</h2>
    <p class="lead text-center">Turn your phone into finding the best offers around your live location, anytime anywhere.</p>
    <div class="text-center">
        <span class="small text-center">Your location based offers and discount finder. Download now.</span>
    </div>
    <p class="text-center">
        <img src="~/Content/googleplay.png" style="height:50px;" alt="download from google play" title="download from google play" />
        @*<a href="#">
            <div style="width:150px;position:absolute;height:10px;margin-top:-10px;border:1px solid #d0cccc;">
                <div style="width:70%;background-color:green;height:10px;"></div>
            </div>*@
        <img src="~/Content/appstore.png" style="height:50px;opacity: 0.6;width:150px;" alt="download from appstore" title="download from appstore" />
        @*</a>*@
        @*<a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a>*@
    </p>
    <div class="text-center">
        <span class="small text-center">We are working hard to get our iOS app ready, we are 70% close to you already.</span>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Discover the offers</h2>
        <p>
            LoOFF uses your phone's live location to find out the offers and discounts registered around you, set the range for real-time discounts into your reachable area and enjoy the offers.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Save, Share and live chat</h2>
        <p>LoOFF allows you save and share your favorite offers with others, so that you and your dear ones can enjoy the offers and a bonus you can chat with the vendors in real time for any query of help.</p>
    </div>
    <div class="col-md-4">
        <h2>Reach to customers</h2>
        <p>As a vendor how better it is that you can reach to your customer with your offers while they are sitting in their home or roaming around and looking for products you offer?</p>
    </div>
</div>
