<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>748908750927-hr8b96okgcag816409u8ea2nohibu05b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.748908750927-hr8b96okgcag816409u8ea2nohibu05b</string>
	<key>API_KEY</key>
	<string>AIzaSyARQ1p6u-IngcnKwzhRX4lYbALxxiFtp4E</string>
	<key>GCM_SENDER_ID</key>
	<string>748908750927</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.quartile.exchaup</string>
	<key>PROJECT_ID</key>
	<string>exchaup</string>
	<key>STORAGE_BUCKET</key>
	<string>exchaup.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
</dict>
</plist>
